/* -- google fonts poppins -- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* === start === */

/* -- 
global css start
-- */
:root {
    --font-poppins: 'Poppins', sans-serif;

    --color-white: rgb(255, 255, 255);
    --color-black: rgb(0, 0, 0);
    --color-gray: rgb(128, 128, 128);
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;

    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem 1rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

/* dark theme variable */
.dark-theme-variables {
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0rem 2rem 3rem var(--color-light);
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: var(--font-poppins);
    appearance: none;
    outline: 0;
    list-style: none;
    border: 0;
}

body {
    display: block;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    font-family: var(--font-poppins);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    background-color: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
}

a {
    display: block;
    text-decoration: none;
    color: var(--color-dark);
    cursor: pointer;
}

a,
button {
    cursor: pointer;
}

a:hover {
    text-decoration: none;
    color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    display: block;
    margin: 0px !important;
}

h1 {
    font-size: 1.8rem;
    font-weight: 800;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}

p {
    color: var(--color-dark-variant);
}

b {
    color: var(--color-dark);
}

img {
    display: block;
    width: 100%;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.small {
    font-size: 0.75rem;
}

.profile-photo {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted {
    color: var(--color-info-dark);
}

.primary {
    color: var(--color-primary) !important;
}

.danger {
    color: var(--color-danger) !important;
}

.warning {
    color: var(--color-warning) !important;
}

.success {
    color: var(--color-success);
}

/* -- 
global css end
-- */



/* --
specific css start
-- */
.container {
    display: grid;
    width: 96%;
    min-height: 100vh;
    margin: 0px auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}

aside {
    min-height: 100vh;
}


aside .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .logo {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

aside .logo img {
    width: 2rem;
    height: 2rem;
    border-radius: 6px;
}

aside .logo h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
}

aside .close {
    display: none;
}

aside .sidebar {
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}

aside h3 {
    font-weight: 500;
    margin-left: .6rem !important;
    letter-spacing: 1ps;
}

aside .sidebar a {
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem !important;
    align-items: center;
    position: relative;
    height: 3.3rem;
    transition: all 300ms ease;
}

aside .sidebar a span {
    font-size: 1.6rem;
    transition: all 300ms ease;
    margin-left: 6px;
}

aside .sidebar a:last-child {
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar .active {
    background-color: var(--color-light);
    color: var(--color-primary);
    margin-left: 0 !important;
}

aside .sidebar .active::before {
    content: "";
    width: 6px;
    height: 100%;
    background-color: var(--color-primary);
}

aside .sidebar .active span {
    color: var(--color-primary);
    margin-left: calc(1rem - 6px);
}

aside .sidebar a:hover {
    color: var(--color-primary);
}

aside .sidebar a:hover span {
    margin-left: 1rem;
}

aside .sidebar a .massage-count {
    background-color: var(--color-danger);
    color: var(--color-white);
    padding: 2px 10px;
    font-size: 11px;
    border-radius: var(--border-radius-1);
}

main {
    margin-top: 1.4rem;
}

main .date {
    display: inline-block;
    background-color: var(--color-light);
    border-radius: var(--border-radius-1);
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
}

main .date input[type="date"] {
    background-color: transparent !important;
    color: var(--color-dark);
    font-size: 17px;
}

main .insights {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

main .insights>div {
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    margin-top: 1.6rem;
    transition: all 300ms ease-in-out;
}

main .insights>div:hover {
    box-shadow: 0 .5rem 1rem var(--color-light);
}

main .insights>div span {
    background-color: var(--color-primary);
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--color-white);
    font-size: 2rem;
}

main .insights>div.expneses span {
    background-color: var(--color-danger);
}

main .insights>div.income span {
    background-color: var(--color-success);
}

main .insights>div .middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .insights h3 {
    margin: 1rem 0 0.6rem !important;
    font-size: 1rem;
}

main .insights .progress {
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
    margin-left: 8px;
}

main .insights svg {
    width: 7rem;
    height: 7rem;
}

main .insights svg circle {
    fill: none;
    stroke: var(--color-primary);
    stroke-width: 14;
    stroke-linecap: round;
    stroke-dasharray: 110;
    stroke-dashoffset: 92;
    transform: translate(5px, 5px);
}

main .insights .sales svg circle {
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

main .insights .expnses svg circle {
    stroke-dashoffset: 20;
    stroke-dasharray: 80;
}

main .insights .income svg circle {
    stroke-dashoffset: 30;
    stroke-dasharray: 110;
}

main .insights .progress .number {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .insights small {
    margin-top: 1.3rem;
    display: block;
    font-size: 15px;
    font-weight: 500;
}

main .recent-orders {
    margin-top: 2rem !important;
}

main .recent-orders h2 {
    margin-bottom: 0.8rem !important;
}

main .recent-orders table {
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    width: 100% !important;
    text-align: center !important;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .recent-orders table:hover {
    box-shadow: 0 .5rem 1rem var(--color-light);
}

main .recent-orders table tbody td {
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}

main table tbody tr:last-child td {
    border: none;
}

main .recent-orders a {
    display: block;
    margin: 1rem auto !important;
    color: var(--color-primary);
    text-align: center;
}


.right {
    margin-top: 1.4rem;
}

.right .top {
    display: flex;
    justify-content: end;
}

.right .top #menu-btn {
    display: none;
}

.right .theme-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 4.2rem;
    height: 1.6rem;
    cursor: pointer;
    background: var(--color-light);
    border-radius: var(--border-radius-1);
    margin-right: 1.5rem;
}

.right .theme-toggle span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    font-size: 1.2rem;
}

.right .theme-toggle span.active {
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: var(--border-radius-1);
    width: 50%;
}

.right .top .profile {
    display: flex;
    gap: 1rem;
    text-align: right;
    align-items: center;
}

.right .recent-updates {
    margin-top: 1rem;
}

.right .recent-updates h2 {
    margin-bottom: 0.8rem;
}

.right .recent-updates .updates {
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease-in-out;
}

.right .recent-updates .updates:hover {
    box-shadow: 0 .5rem 1rem var(--color-light);
}

.right .recent-updates .updates .update {
    display: grid;
    grid-template-columns: 2.5rem auto;
    gap: 1rem;
    margin-bottom: 1rem;
}

.right .recent-updates .updates .update:last-child {
    margin-bottom: 0px;
}

.right .sales-analytics {
    margin-top: 2rem;
}

.right .sales-analytics h2 {
    margin-bottom: 0.8rem !important;
}

.right .sales-analytics .item {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.4rem;
    background-color: var(--color-white);
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.right .sales-analytics .item:hover {
    box-shadow: 0 .5rem 1rem var(--color-light);
}

.right .sales-analytics .item .right {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0px !important;
    width: 100%;
}

.right .sales-analytics .item .icon {
    padding: 0.6rem;
    color: var(--color-white);
    border-radius: 50%;
    background-color: var(--color-primary);
    display: flex;
    font-size: 1rem;
}

.right .sales-analytics .item.offline .icon {
    background-color: var(--color-danger);
}

.right .sales-analytics .item.customers .icon {
    background-color: var(--color-success);
}

.right .sales-analytics .item .right .info h3 {
    text-transform: uppercase !important;
}

.right .sales-analytics .item.add-product {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-primary);
    border: 2px dashed var(--color-primary);
    cursor: pointer;
}

.right .sales-analytics .item.add-product:hover {
    box-shadow: none;
    color: var(--color-white);
    background-color: var(--color-primary);
}

.right .sales-analytics .item.add-product div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.right .sales-analytics .item.add-product div span {
    font-size: 1.5rem;
}

.right .sales-analytics .item.add-product div h3 {
    font-size: 1rem !important;
    font-weight: 500 !important;
    letter-spacing: 1px;
}


@media (max-width:1200px) {
    .container {
        width: 94%;
        grid-template-columns: auto 23rem;
    }

    aside {
        position: fixed;
        left: -100%;
        background-color: var(--color-white);
        width: 18rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        padding-right: var(--card-padding);
        min-height: 100vh;
        overflow-y: scroll;
        animation: showSideBar 400ms ease forwards;
        display: none;
    }

    @keyframes showSideBar {
        to {
            left: 0%;
        }
    }

    aside .sidebar {
        min-height: 100vh;
        overflow-y: scroll;
    }

    aside .logo {
        margin-left: 1rem;
    }

    aside .logo h2 {
        display: inline;
    }

    aside .sidebar h3 {
        display: inline;
    }

    aside .sidebar a {
        width: 100%;
        height: 3.4rem;
    }

    aside .sidebar a:last-child {
        position: relative;
        bottom: 0rem;
    }

    aside .close {
        display: inline-block;
        cursor: pointer;
        margin: 0px 1rem 0 0;
    }

    main {
        margin-top: 8rem;
        padding: 0 1rem;
    }

    main .insights {
        grid-template-columns: repeat(2, 1fr);
    }

    main .recent-orders {
        position: absolute;
        width: 94%;
        bottom: -155%;
        left: 50%;
        transform: translateX(-50%);
        margin: 8rem 0 0 0rem;
    }

    main .recent-orders table {
        width: 93.8vw !important;
    }

    .right {
        width: 94%;
        margin: 8rem auto 4rem;
    }

    .right .top {
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        padding: 0.8rem 1rem 0.8rem 0;
        height: 4.6rem;
        background-color: var(--color-white);
        width: 100%;
        margin: 0;
        z-index: 2;
        box-shadow: 0 1rem 1em var(--color-light);
    }

    .right .top .theme-toggle {
        width: 4.4rem;
        position: absolute;
        left: 86%;
    }

    .right .profile .info {
        display: none;
    }

    .right .top #menu-btn {
        display: inline-block;
        background-color: transparent;
        position: absolute;
        top: 55%;
        transform: translateY(-50%);
        left: 1em;
        color: var(--color-dark);
        cursor: pointer;
    }

    .right .top #menu-btn span {
        font-size: 2rem;
    }

}

@media (max-width:1042px) {

    .container {
        gap: 1rem;
    }

}

@media (max-width:1038px) {
    .right .top .theme-toggle {
        left: 80%;
    }
}


@media (max-width:992px) {
    .container {
        width: 100%;
        grid-template-columns: 1fr;
    }

    main .recent-orders {
        position: relative;
        width: 100%;
        bottom: 0%;
        left: 0;
        transform: translateX(0%);
        margin: 0 auto;
    }

    main .recent-orders table {
        width: 96vw !important;
        margin: auto;
    }

    .right {
        margin: 0rem auto 4rem;
    }

}

@media (max-width:767px) {
    main .insights {
        grid-template-columns: 1fr;
    }

    main table thead tr th:first-child,
    main table tbody tr td:last-child,
    main table tbody tr td:first-child {
        display: none;
    }
}

@media (max-width:720px) {

    .right .top .theme-toggle {
        left: 75%;
    }

}

@media (max-width:596px) {

    .right .top .theme-toggle {
        left: 70%;
    }



}



@media (max-width:436px) {

    .right .top .theme-toggle {
        left: 60%;
    }

    main .recent-orders table tbody td {
        font-size: 14px;
    }


}

@media (max-width:340px) {
    .right .top .theme-toggle {
        left: 55%;
    }
}

/* -- 
specific css end
-- */


/* === end ==== */